<nav class="bg-gray-800 text-white flex">
    <a class="p-6 text-xl">CWM</a>
    <div class="p-5" id="navbarNav">
        <ul class="flex flex-row justify-center text-lg">
            <li class="nav-item mx-1 p-1">
                <a class="navbar-link" href="/home">Home</a>
            </li>
            <li class="nav-item mx-1 p-1">
                <a class="navbar-link" href="/find-partners" target="_blank">Find Partners</a>
            </li>
            <li class="nav-item mx-1 p-1">
                <a class="navbar-link" href="/pending-requests" target="_blank">Pending Requests</a>
            </li>
            <li class="nav-item mx-1 p-1">
                <a class="navbar-link" href="/edit-profile" target="_blank">Edit Profile</a>
            </li>
            <li class="nav-item mx-1 p-1">
                <a class="navbar-link" id="enable-chatbox">Show Messages</a>
            </li>
        </ul>
    </div>
    <img id="burger" src="/img/burger-menu.png" alt="burger-icon"></img>
</nav>
